{% extends "videos/layout.html" %}

{% block body %}

    <body>
        <form action="{% url 'display_category' %}" method="POST">
            {% csrf_token %}
            <select class="form-select" aria-label="Default select example" name="category" required>
                <option value="" disabled selected hidden>Select a category</option>
                {% for c in cats %}
                    <option>{{ c }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        <div>
            <div class="row">
                {% for d in data %}
                    <div class="column">
                        <div class="content">
                            <a href="{% url 'video' title=d.title %}">
                                <figure>
                                    <img src="{{ d.thumbnail.url }}" class="img-thumbnail" id="thumbnail">
                                    <figcaption>{{ d.title }} -- {{ d.creator }}</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}