{% extends "videos/layout.html" %}

{% block body %}
    <h2>Saved</h2>
    <div class="row">
        {% for d in data %}
            <div class="column">
                <div class="content">
                    <a href="{% url 'video' title=d.title %}">
                        <figure>
                            <img src="{{ d.thumbnail.url }}" class="img-thumbnail" id="thumbnail">
                            <figcaption>{{ d.title }} -- {{ d.creator }}</figcaption>
                            <form action="{% url 'delete_from_saved' title=d.title %}" method="POST">
                                {% csrf_token %}
                                <button class="btn" id="like-button"><span class="material-symbols-outlined" onclick="return confirm('Are you sure you want to unsave this video?')">delete</span></button>
                            </form>
                        </figure>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}