{% extends "videos/layout.html" %}

{% block body %}
    <h2>Search results</h2>
    <br>
    <div>
        <div class="row">
            {% for d in data %}
                <div class="column">
                    <div class="content">
                        <a href="{% url 'video' title=d.title %}">
                            <figure>
                                <img src="{{ d.thumbnail.url }}" class="img-thumbnail" id="thumbnail">
                                <figcaption>{{ d.title }} -- {{ d.creator }}</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}