{% extends "videos/layout.html" %}

{% block body %}
    <h2>Upload</h2>

    <form action="{% url 'upload_video' %}" method="POST" class="upload" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text" class="form-control" id="Title" placeholder="Title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea class="form-control" id="Description" rows="3" name="description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="formFileLg" class="form-label" id="formFileLg">Upload video</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file" id="videoFile" accept="video/*" name="video" required>
        </div>
        <div class="mb-3">
            <label for="formFileLg" class="form-label" id="formFileLg">Upload thumbnail</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file" accept="image/*" name="thumbnail" required>
        </div>
        <div style="display: inline-block; margin-right: 30px;">
            <label>Choose to whom this is available
            <select class="form-select" aria-label="Default select example" name="category">
                <option>Available for everyone</option>
                <option>Only available for paid subscribers</option>
            </select>
        </div>
        <div style="display: inline-block;">
            <label>Choose category
            <select class="form-select" aria-label="Default select example" name="category">
                {% for c in cats %}
                    <option>{{ c }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <br>
        <button type="submit" value="Upload" class="btn btn-success" id="submitUpload">Submit</button>
    </form>
{% endblock %}