{% extends "videos/layout.html" %}

{% block body %}
    <div style="float:left; margin-right: -400px">
        <video src="{{ data.video_file.url }}" controls></video>
    </div>
    <div>
        <ul class="list-group">
            {% if not allComments %}
                <li class="list-group-item d-flex justify-content-between align-items-center"> 
                    There are no comments on this video yet.
                </li>
            {% endif %}
            {% for comment in allComments %}
                <li class="list-group-item d-flex justify-content-between align-items-center"> 
                    {{ comment.message }}
                    <p style="color: black; float:right">{{ comment.author }}</p>
                </li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <form action="{% url 'addComment' id=data.id %}" method="POST">
                {% csrf_token %}
                <textarea id="addcomment" type="text" name="newComment" placeholder="Add a comment" required></textarea>
                <br><br><br><br>
                <button style="float:right;" type="submit" class="btn btn-primary">Post</button>
            </form>
        {% endif %}
    </div>
    <br>
    <div>
        <h4>Description: <p>{{ data.description }}</p></h4>
    </div>
{% endblock %}